/*!
 * Vitality v1.1 (http://themes.startbootstrap.com/vitality-v1.1)
 * Copyright 2014 Start Bootstrap Themes.
 * Licensed at WrapBootstrap, visit WrapBootstrap to purchase a usage license for this theme (https://wrapbootstrap.com/)
 */
@import url('fonts.css');

html,
body {
    height: 100%;
}

.img-centered {
    margin: 0 auto;
}

.content-row {
    margin-top: 30px;
}

section {
    padding: 70px 0;
}

section.sub-section1,
section.sub-section2 {
	padding:30px 0 0 0;
}

@media(max-width:767px) {
    section {
        padding: 75px 0;
    }
}

.owl-theme .owl-controls .owl-page span {
    background: rgba(34,34,34,.5);
}

body {
    font-family: 'Noto Sans KR', 'Malgun Gothic', 'Arial', sans-serif;
    font-size: 16px;
    font-weight: 400;
		background-color:#fff !important!
}

a {
    color: #333;
    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    transition: all .5s;
}

a:hover,
a:focus {
    text-decoration: none;
    color: inherit;
}
.point,
a.point:link,
a.point:hover,
a.point:visited,
a.point:active {
	color:#e96947;
}
p {
    font-size: 17px;
    line-height: 1.5;
		letter-spacing:-1px;
}
p.quotes {
    font-size:17px !important;
    font-weight: 400;
		background: url(../img/svg/quotes.svg) no-repeat left top;
		padding:30px;
		text-align:left;
}
p.quotes small {
    font-size: 15px;
		color:#f1a38c;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 700;
}

h1 {
	font-size: 39px;
	font-family: 'NanumSquare';
	letter-spacing:-2px;
	vertical-align:middle;
}

hr {
    height: 2px;
    margin: 15px auto;
    max-width: 100px;
    border-top: 1px solid #fff;
    border-bottom: 1px solid #fff;
}

hr.left {
    margin: 15px auto 15px 0;
}

hr.right {
    margin: 15px 0 15px auto;
}

hr.colored {
    border-top:1px solid rgba(255, 255, 255, .5);
    border-bottom:0px solid rgba(255, 255, 255, .0);
}

@media(min-width:768px) {
    hr {
        margin: 15px auto 15px auto;
        max-width: 980px;
    }
    hr.left {
        margin: 20px auto 20px 0;
    }

    hr.right {
        margin: 20px 0 20px auto;
    }
}

.text-primary {
    color: #af0061;
}
.navbar-default .navbar-nav>.active>a,
.navbar-default .navbar-nav>.active>a:hover,
.navbar-default .navbar-nav>.active>a:focus,
.navbar-inverse .navbar-nav>.active>a,
.navbar-inverse .navbar-nav>.active>a:hover,
.navbar-inverse .navbar-nav>.active>a:focus {
    border-radius: 0;
    color: #cc368f;
    background-color: transparent;
}

.navbar-default {
    background-color: #af0061;
}

.navbar-default .navbar-toggle .icon-bar {
    background-color: #fff;
}

.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
    background-color: rgba(255,255,255,.5);
}
.navbar-inverse .navbar-toggle {
  border-color: #fff;
}
.navbar-inverse .navbar-collapse,
.navbar-inverse .navbar-form {
  border-color: #fff;
	text-align:center;
}
.navbar-inverse .navbar-toggle:hover,
.navbar-inverse .navbar-toggle:focus {
  background-color: #e96947;
}
.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
    border-color: rgba(255,255,255,.1);
}
.navbar-inverse {
	background-color: rgba(0,0,0,.7) !important;
	background-color: rgba(247,163,141,.9) !important;
}
.navbar-default,
.navbar-inverse {
    border: 0;
    border-bottom: 0px solid rgba(255,255,255,.7) !important;
}

.navbar-default .navbar-brand,
.navbar-inverse .navbar-brand {
    padding: 0 15px;
    text-decoration: none;
    color: #fff;
    opacity: 1;
    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    transition: all .5s;
}

.navbar-default .navbar-brand:hover,
.navbar-inverse .navbar-brand:hover,
.navbar-default .navbar-brand:focus,
.navbar-inverse .navbar-brand:focus {
    opacity: 1;
}

.navbar-default .navbar-nav li a,
.navbar-inverse .navbar-nav li a {
	color: #fff !important;
	font-size:20px;
	font-weight:400;
	letter-spacing:-1px;
	font-family: 'NanumSquare';
}

.navbar-default .navbar-nav li a:hover,
.navbar-inverse .navbar-nav li a:hover {
    color: rgba(255,255,255,.5);
}

@media(min-width:768px) {
    .navbar-default .navbar-nav>.active>a,
    .navbar-default .navbar-nav>.active>a:hover,
    .navbar-default .navbar-nav>.active>a:focus,
    .navbar-inverse .navbar-nav>.active>a,
    .navbar-inverse .navbar-nav>.active>a:hover,
    .navbar-inverse .navbar-nav>.active>a:focus {
        border-radius: 5px;
				font-weight:700;
    }

    .navbar-fixed-top.navbar-expanded {
        padding: 20px 0 10px 0;
    }

    .navbar-fixed-top {
        padding: 20px 0 5px 0;
        -webkit-transition: padding .5s;
        -moz-transition: padding .5s;
        transition: padding .5s;
    }

    .navbar-fixed-top .navbar-brand:hover {
        opacity: .5;
    }

    .navbar-default.navbar-expanded,
    .navbar-inverse.navbar-expanded {
        border: 0;
        background: 0 0;
    }
}

.navbar a:focus {
    outline: 0;
}

.navbar-right {
	margin-top:-7px;
}
.navbar .navbar-nav li a:focus {
    outline: 0;
}
header {
    display: block;
    position: relative;
    width: auto;
    height: auto;
    padding: 100px 0;
    background: no-repeat center center;
    background-attachment: scroll;
    background-color: #222;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}
.slide1 {
		background:#eeecda url(../img/svg/slide1-bg.svg) repeat center center;
}
.slide2 {
	background: url(../img/slide2.jpg) no-repeat top center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
		color:#fff !important;
		min-height:750px;
}
@media(max-width:767px) {
	.navbar-default .navbar-nav li a,
	.navbar-inverse .navbar-nav li a {
		font-size:15px;
		font-weight:700;
	}

	.navbar-default .navbar-brand,
	.navbar-inverse .navbar-brand {
		padding-top:5px;
	}
	.slide2 {
		background: url(../img/slide2m.jpg) no-repeat top right;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
	}
	header.left {
			background: no-repeat bottom left;
    background: no-repeat center center;
    background-attachment: scroll;
    background-color: #222;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
	}
	header.right {
		background: no-repeat bottom right;
    background: no-repeat center center;
    background-attachment: scroll;
    background-color: #222;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
	}
}
.bg {
    display: block;
    position: relative;
    width: auto;
    height: auto;
    padding: 50px 0;
    background: no-repeat center center;
    background-attachment: scroll;
    background-color: #ededed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
		color:#333;
}
.bg-ivory {
    background-color: #fbf9ee;
}
.bg-trans {
    background-color: #fff;
}
.bg-cs {
    display: block;
    position: relative;
    width: auto;
    height: auto;
    padding: 70px 0;
    background: no-repeat center center;
    background-attachment: scroll;
    background-color: #f6f6f9;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
		color:#333;
}
.bg-form {
    display: block;
    position: relative;
    width: auto;
    height: auto;
    padding: 50px 70px;
    background: no-repeat center center;
    background-attachment: scroll;
    background-color: #fff;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
		color:#333;
		margin-top:30px;
}
.bg-bann {
    display: block;
    position: relative;
    width: auto;
    height: auto;
    padding: 30px 0;
    background: no-repeat center center;
    background-attachment: scroll;
    background-color: #f6f6f9;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
		color:#333;
}
section.bg-gray {
    background-color: #f5f5f5;
}
section.bg-white {
    background-color: #fff;
		padding: 50px 0;
		color:#333;
}
section.bg-white h2 {
		font-size:31px;
		line-height:160%;
		font-weight:500;
		letter-spacing:-1px;
}
@media(max-width:767px) {
	section.bg-white {
			background-color: #fff;
			padding: 50px 15px;
	}
	section.bg-white h2 {
			font-size:18px;
			letter-spacing:-1px;
	}
}
.bg-form h4 {
	font-size: 23px;
	letter-spacing:-1px;
	font-weight:400;
}
.bg-form p {
	font-size: 15px;
	letter-spacing:-1px;
	font-weight:300;
}
.bg h1 {
	color:#e96947;
	margin-top:20px;
	margin-bottom:10px;
	line-height:120%;
}
.bg h4 {
	font-size: 24px;
	letter-spacing:-1px;
	font-weight:500;
	line-height:130%;
}
.bg p {
	color:#777;
	margin-top:20px;
	font-size:21px;
	margin-bottom:10px;
	letter-spacing:-1px;
	line-height:130%;
}
.service-info {
	padding-top:100px;
}
@media(max-width:767px) {
	.bg {
			padding: 50px 0;
	}
	.bg-form {
			padding: 30px 20px;
	}
	.bg-form h4 {
		font-size: 17px;
		font-weight:500;
	}
	.bg-form p {
		font-size: 13px;
	}
	.bg h1 {
		margin-top:10px;
		margin-bottom:10px;
		font-size: 29px;
	}
	.bg h4 {
		font-size:18px;
		letter-spacing:-1px;
		font-weight:500;
	}
	.bg p {
		font-size:15px;
	}
	.service-info {
		padding-top:30px;
		text-align:center;
	}
	.service-info figure {
		display:inline-block;
		margin:5px auto;
	}
}
header .intro-content {
    position: relative;
    text-align: left;
}

header .brand-name {
    padding-top: 145px;
		margin-bottom:5px;
    text-transform: uppercase;
    font-size: 39px;
    font-weight: 700;
    line-height: 130%;
		letter-spacing:-2px;
		font-family: 'NanumSquare';
}
header .brand-name span {
	color:#eee7cc;
}
header .brand-img {
	margin-top:110px;
	margin-bottom:30px;
	text-align:center;
}
.review-img {
	padding-top:30px;
	margin-bottom:30px;
	text-align:center;
}
header .brand-img-hand {
	margin-top:80px;
	margin-bottom:-100px;
	text-align:left;
}
header .brand-copy {
    margin-top: 5px;
		margin-bottom:10px;
    text-transform: uppercase;
    font-size: 27px;
    font-weight: 300;
    line-height: 140%;
		letter-spacing:-2px;
}
header .brand-copy strong {
    font-weight: 500;
}
header .brand-name-subtext {
		font-size: 17px;
    font-weight: 300;
    line-height: 27px;
		margin-bottom:30px;
		display:inline-block;
}
header .brand-name-subtext small {
	font-size:15px;
	opacity:0.7%;
	margin-top:20px;
	display:block;
}
.btn-gotowrap {
	margin:25px 0;
}
header small {
	font-size:15px;
}
header .scroll-down {
    position: absolute;
    bottom: 100px;
    width: 100%;
    text-align: center;
}

header .scroll-down .btn {
    width: 50px;
    height: 50px;
    padding: 0;
    border: 2px solid #fff;
    border-radius: 100%;
    font-size: 30px;
    line-height: 50px;
    letter-spacing: normal;
    color: #fff;
    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    transition: all .5s;
}

header .scroll-down .btn:hover {
    border-color: rgba(255,255,255,.5);
    outline: 0;
    color: rgba(255,255,255,.5);
}
@media(max-width:467px) {
	.brblock {
		display:block;
		width:100%;
	}
	p {font-size:15px;}
}
@media(max-width:767px) {
		header {
				padding: 70px 0 40px 0;
		}
		header .brand-img {
			margin-top:50px;
			margin-bottom:0px;
			text-align:center;
		}
		.brand-img {
			margin-top:20px;
			margin-bottom:10px;
			text-align:center;
		}
    header .brand-name {
      font-size: 27px;
      line-height: 150%;
			margin-top: 50px;
			margin-bottom:10px;
			padding-top:0;
    }
	header .brand-copy {
			margin-top: 10px !important;
			margin-bottom:10px;
			text-transform: uppercase;
			font-size: 17px;
			font-weight: 300;
			line-height: 140%;
			letter-spacing:-1px;

	}
		header .brand-img-hand {
			margin-top:50px;
			margin-bottom:-70px;
		}
    header .brand-name-subtext {
        font-size: 14px;
        line-height: 17px;
				margin-top:15px;
				margin-bottom:0px;
    }
		.btn-gotowrap img {
			height:31px;
		}
		.brand-name-subtext small {
			margin-top:15px;
			display:inline-block;
		}
		.navbar-nav {
			display:inline-block;
			margin:0 auto;
			overflow:hidden;
		}
		.collapse {
			overflow:hidden !important;
		}
		.navbar-nav li {
			float:left;
			margin-right:0px;
			padding-right:0px;

		}
		.navbar-default .navbar-nav li a,
		.navbar-inverse .navbar-nav li a {
				margin-right:10px;
				padding-right:10px;
				padding-top:15px;
		}
		header .scroll-down {
				bottom: 120px;
		}

		.img-profile {
			width:auto;
		}
    header .intro-content {
				padding-top:0;
				text-align:center;
    }
    .portfolio-carousel .item hr.colored {
        margin: 10px auto 10px 0;
    }
}
header.video .overlay {
    z-index: 998;
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0;
    background: #000;
}

header.video .intro-content {
    z-index: 999;
}

header.video .scroll-down {
    z-index: 999;
}

@media(min-width:768px) {
    header.video .overlay {
        opacity: .5;
    }
}

.carousel-fade .carousel-inner .item {
  opacity: 0;
  -webkit-transition-property: opacity;
  -moz-transition-property: opacity;
  -o-transition-property: opacity;
  transition-property: opacity;
}
.carousel-fade .carousel-inner .active {
  opacity: 1;
}
.carousel-fade .carousel-inner .active.left,
.carousel-fade .carousel-inner .active.right {
  left: 0;
  opacity: 0;
  z-index: 1;
}
.carousel-fade .carousel-inner .next.left,
.carousel-fade .carousel-inner .prev.right {
  opacity: 1;
}
.carousel-fade .carousel-control {
  z-index: 2;
}
.carousel-indicators {
  position: absolute;
  bottom: 10px;
  left: 50%;
  z-index: 15;
  width: 60%;
  padding-left: 0;
  margin-left: -30%;
  text-align: center;
  list-style: none;
}
.carousel-indicators li {
  display: inline-block;
  width: 15px;
  height: 15px;
  margin: 0 5px;
  text-indent: -999px;
  cursor: pointer;
  background-color: #000 \9;
  background-color: rgba(255, 255, 255, 0.3);
  border: 0px solid #fff;
  border-radius: 15px;
}
.carousel-indicators .active {
  width: 35px;
  height: 15px;
  margin: 0 5px;
  background-color: #fff;
}
@media (max-width: 767px) {
	.carousel-indicators {
		position: absolute;
		bottom: 60px;
	}
	.logo-member {
		margin:0 auto;
		padding:0;
		text-align:center;
	}
	.logo-member img {
		width:200px;
		margin:o auto;
	}
}
aside.cta-quote {
    padding: 100px 0;
    text-align: center;
    color: #fff;
    background: no-repeat center center scroll;
    background-color: #222;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

aside.cta-quote span.quote {
    display: block;
    font-size: 27px;
    font-weight: 300;
    line-height: 32px;
}

@media(min-width:768px) {
    aside.cta-quote {
        padding: 130px 0;
        background-attachment: scroll;
    }

    aside.cta-quote span.quote {
        font-size: 31px;
        line-height: 38px;
    }
}

@media(min-width:992px) {
    aside.cta-quote {
        padding: 150px 0;
    }

    aside.cta-quote span.quote {
        font-size: 31px;
        line-height: 42px;
    }
}

@media(min-width:1025px) {
    aside.cta-quote {
        background-attachment: fixed;
    }
}

.testimonials {
    text-align: center;
}

.testimonials .testimonials-carousel .item {
    padding: 0;
}

.testimonials .testimonials-carousel .item p.quote {
    margin-bottom: 30px;
}

.testimonials .testimonials-carousel .item .testimonial-info {
    margin-bottom: 30px;
}

.testimonials .testimonials-carousel .item .testimonial-info .testimonial-img {
    display: inline-block;
    width: 50px;
    height: 50px;
    margin-right: 10px;
}

.testimonials .testimonials-carousel .item .testimonial-info .testimonial-author {
    display: inline-block;
}

.testimonials .testimonials-carousel .item .testimonial-info .testimonial-author .name {
    text-transform: uppercase;
    font-weight: 900;
}

.testimonials .testimonials-carousel .item .testimonial-info .testimonial-author hr.colored {
    margin: 3px auto;
    max-width: 50px;
}

.testimonials .testimonials-carousel .item .testimonial-info .testimonial-author p {
    margin: 0;
}

.testimonials .testimonials-carousel .item .testimonial-info .testimonial-author .stars {
    color: #f1c40f;
}

.testimonials .testimonials-carousel .owl-controls {
    margin-top: 0;
}

.testimonials .testimonials-carousel .owl-controls .owl-prev,
.testimonials .testimonials-carousel .owl-controls .owl-next {
    display: none;
    position: absolute;
    top: 0;
    bottom: 0;
    width: 40px;
    height: 60px;
    margin: auto 0!important;
    border-radius: 0!important;
    text-align: center;
    font-size: 30px!important;
    line-height: 50px;
    color: #fff!important;
    background-color: #ef4035!important;
    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    transition: all .5s;
}

.testimonials .testimonials-carousel .owl-controls .owl-prev:hover,
.testimonials .testimonials-carousel .owl-controls .owl-next:hover {
    opacity: 1;
}

.testimonials .testimonials-carousel .owl-controls .owl-prev {
    left: 15px;
}

.testimonials .testimonials-carousel .owl-controls .owl-next {
    right: 15px;
}

@media(min-width:768px) {
    .testimonials .testimonials-carousel .item {
        padding: 0 100px;
    }

    .testimonials .testimonials-carousel .owl-controls .owl-prev,
    .testimonials .testimonials-carousel .owl-controls .owl-next {
        display: block;
    }
}

.about-content {
    padding: 30px 0px;
}
.about-content h3 {
    font-weight:400;
		font-size:20px;
		line-height:30px;
		letter-spacing:-1px;
}

.info-content-col {
	clear:both;
	width:100%;
	margin:0;
	padding: 30px 0px;
	display: table;
	line-height:150%;
}
	.info-content-col > .col {
		display: table-cell;
		margin:0;
		border-bottom:0px solid #ddd;
		vertical-align:top;
		word-break: break-all;
		word-wrap: break-word;
		width:20%;
	}

.info-content-col h3 {
    font-weight:500;
		font-size:22px;
		line-height:30px;
		letter-spacing:-1px;
}
.info-content-col ul {
	margin:0;
	padding:0 0px;
	text-align:left;
}
.info-content-col ul li {
	font-size:15px;
	color:#777;
	line-height:160%;
	background:url(../img/blt03.png) no-repeat 0 11px;
	padding:3px 0 3px 12px;
	line-height:120%;
	list-style-type:none;
}
.info-content-col figure {
	width:75px;
	height:75px;
	text-align:center;
	background-color:transparent;
	border:3px solid #f8a48e;
	padding:0;
	display:inline-block;
	margin:0 auto;
	border-radius:50%;
}
.info-content-col figure img {
	margin-top:10px;
}

@media(max-width:767px) {
	.about-content {
			padding: 10px 0px;
	}
	.info-content-col {
		display: block;
		line-height:150%;
	}
	.info-content-col > .col {
		width:100%;
		display: block;
	}
	.info-content-col ul {
		margin-bottom:50px;
		padding:0 30px;
		text-align:left;
	}
}

.about-carousel .item {
    padding: 15px;
}

.about-carousel .item .caption {
    width: 100%;
    margin: auto;
    color: rgba(255,255,255,.7);
		background-color:#222;
}

.about-carousel .item .caption h4 {
    margin: 0;
		padding:5px;
		font-weight:700;
}

.about-carousel .item .caption hr {
    margin: 5px auto;
    max-width: 50px;
}

.about-carousel .item .caption p {
    margin: 0;
		font-size:13px;
}

.about-carousel .item .caption ul.social {
    margin-top: 5px;
}

.about-carousel .item .caption ul.social li a {
    color: rgba(255,255,255,.7);
}

.about-carousel .item .caption ul.social li a:hover,
.about-carousel .item .caption ul.social li a:focus {
    color: #fff;
}

.about-carousel .owl-controls {
    margin-top: 0;
}

.about-carousel .owl-controls .owl-prev,
.about-carousel .owl-controls .owl-next {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 40px;
    height: 60px;
    margin: auto 0!important;
    border-radius: 0!important;
    text-align: center;
    font-size: 30px!important;
    line-height: 50px;
    color: #fff!important;
    background-color: #ef4035!important;
    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    transition: all .5s;
}

.about-carousel .owl-controls .owl-prev:hover,
.about-carousel .owl-controls .owl-next:hover {
    opacity: 1;
}

.about-carousel .owl-controls .owl-prev {
    left: 15px;
}

.about-carousel .owl-controls .owl-next {
    right: 15px;
}

.services .media {
    margin-bottom: 30px;
}

.services .media i.fa {
    width: 75px;
    height: 75px;
    border: 3px solid #222;
    border-radius: 100%;
    text-align: center;
    font-size: 30px;
    line-height: 70px;
}

.services .media .media-body {
    padding-left: 15px;
}

.services .media .media-body h3 {
    margin-bottom: 15px;
}

.services .media .media-body ul {
    padding: 0;
    list-style: inside;
}

.services .media .media-body ul li {
    margin-bottom: 10px;
}

@media(min-width:992px) {
    .services .media {
        margin-bottom: 0;
    }
}

.portfolio-carousel {
    padding: 0;
    color: #fff;
    background-color: #222;
}

.portfolio-carousel .item {
    padding: 50px 55px;
    text-align: center;
    background: no-repeat center center scroll;
    background-color: #222;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

.portfolio-carousel .item .portfolio-image {
    margin-top: 50px;
}

.portfolio-carousel .item .project-details {
    padding: 0;
}

.portfolio-carousel .item .project-details img.client-logo {
    margin: 0 auto 25px;
}

.portfolio-carousel .item .project-details .project-name {
    display: block;
    margin-bottom: 5px;
    text-transform: uppercase;
    font-size: 40px;
    font-weight: 900;
    line-height: 40px;
}

.portfolio-carousel .item .project-details .project-description {
    display: block;
    font-size: 18px;
    line-height: 18px;
}

.portfolio-carousel .owl-controls {
    margin-top: 0;
}

.portfolio-carousel .owl-controls .owl-prev,
.portfolio-carousel .owl-controls .owl-next {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 50px;
    height: 75px;
    margin: auto 0!important;
    border-radius: 0!important;
    text-align: center;
    font-size: 30px!important;
    line-height: 70px;
    color: #fff!important;
    background-color: #ef4035!important;
    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    transition: all .5s;
}

.portfolio-carousel .owl-controls .owl-prev:hover,
.portfolio-carousel .owl-controls .owl-next:hover {
    opacity: 1;
}

.portfolio-carousel .owl-controls .owl-prev {
    left: 0;
}

.portfolio-carousel .owl-controls .owl-next {
    right: 0;
}

@media(min-width:992px) {
    .portfolio-carousel .item {
        padding: 150px 55px;
        text-align: left;
    }

    .portfolio-carousel .item .portfolio-image {
        margin-top: 0;
    }

    .portfolio-carousel .item .project-details {
        padding: 15% 0 0;
    }

    .portfolio-carousel .item .project-details img.client-logo {
        margin: 0 auto 25px 0;
    }

    .portfolio-carousel .item .project-details .project-name {
        display: block;
        font-size: 50px;
        line-height: 50px;
    }

    .portfolio-carousel .item .project-details .project-description {
        font-size: 20px;
        line-height: 20px;
    }

    .portfolio-carousel .item hr.colored {
        margin: 20px auto 20px 0;
    }
}

.portfolio-gallery .item {
    padding: 10px 20px;
}
.portfolio-gallery .item span {
	display:block;
	text-align:center;
	font-size:17px;
	margin-top:-25px;
	margin-bottom:20px;
	font-weight:700;
}
.portfolio-modal {
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

.portfolio-modal .modal-content {
    padding: 100px 0;
    min-height: 100%;
    border: 0;
    border-radius: 0;
    text-align: center;
    color: #fff;
    background: 0 0;
    background-clip: border-box;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.portfolio-modal .modal-content h2 {
    margin: 0;
    font-size: 46px;
}

.portfolio-modal .modal-content img {
    margin: 30px auto;
}

.portfolio-modal .modal-content .item-details {
    margin: 30px 0;
}

.portfolio-modal .close-modal {
    position: absolute;
    top: 25px;
    right: 25px;
    width: 75px;
    height: 75px;
    background-color: transparent;
    cursor: pointer;
}

.portfolio-modal .close-modal:hover {
    opacity: .3;
}

.portfolio-modal .close-modal .lr {
    z-index: 1051;
    width: 1px;
    height: 75px;
    margin-left: 35px;
    background-color: #fff;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

.portfolio-modal .close-modal .lr .rl {
    z-index: 1052;
    width: 1px;
    height: 75px;
    background-color: #fff;
    -webkit-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
}

.pricing {
    color: #fff;
    background: no-repeat center center scroll;
    background-color: #222;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

.pricing .pricing-item {
    z-index: 1;
    margin-bottom: 30px;
    padding: 30px;
    text-align: center;
    color: #222;
    background: #fff;
    -webkit-box-shadow: 0 0 30px 5px rgba(34,34,34,.75);
    -moz-box-shadow: 0 0 30px 5px rgba(34,34,34,.75);
    box-shadow: 0 0 30px 5px rgba(34,34,34,.75);
}

.pricing .pricing-item h3 {
    margin: 0;
}

.pricing .pricing-item hr {
    max-width: 100px;
}

.pricing .pricing-item .price {
    margin-bottom: 20px;
}

.pricing .pricing-item .price .number {
    font-size: 50px;
    font-weight: 900;
}

.pricing .pricing-item .price .number sup {
    font-size: 30px;
}

.pricing .pricing-item .list-group-item {
    border-radius: 0;
}

@media(min-width:992px) {
    .pricing {
        background-attachment: scroll;
    }

    .pricing .pricing-item {
        margin-bottom: 0;
    }

    .pricing .pricing-item.featured-first {
        margin-top: 15px;
        margin-right: -15px;
    }

    .pricing .pricing-item.featured {
        position: absolute;
        left: 0;
        width: 100%;
        margin: 0;
        padding: 45px 30px;
    }

    .pricing .pricing-item.featured-last {
        margin-top: 15px;
        margin-left: -15px;
    }
}

@media(min-width:1025px) {
    .pricing {
        background-attachment: fixed;
    }
}

.floating-label-form-group {
    position: relative;
    margin-bottom: 0;
    padding-bottom: .5em;
    border-bottom: 1px solid #e1e1e1;
}

.floating-label-form-group input,
.floating-label-form-group textarea {
    z-index: 1;
    position: relative;
    padding-right: 0;
    padding-left: 0;
    border: 0;
    border-radius: 0;
    font-size: 1.5em;
    background: 0 0;
    box-shadow: none!important;
    resize: none;
}

.floating-label-form-group label {
    display: block;
    z-index: 0;
    position: relative;
    top: 2em;
    margin: 0;
    font-size: .85em;
    line-height: 1.764705882em;
    vertical-align: middle;
    vertical-align: baseline;
    opacity: 0;
    -webkit-transition: top .5s ease,opacity .5s ease;
    -moz-transition: top .5s ease,opacity .5s ease;
    -ms-transition: top .5s ease,opacity .5s ease;
    transition: top .5s ease,opacity .5s ease;
}

.floating-label-form-group::not(:first-child) {
    padding-left: 14px;
    border-left: 1px solid #e1e1e1;
}

.floating-label-form-group-with-value label {
    top: 0;
    opacity: 1;
}

.floating-label-form-group-with-focus label {
    color: #ef4035;
}

form .row:first-child .floating-label-form-group {
    border-top: 1px solid #e1e1e1;
}

footer.footer {
    padding: 30px 0 20px;
    color: rgba(255,255,255,.7);
		text-align:center;
    background: no-repeat center center scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
		background-color:#1c1c1c;
}

footer.footer a {
    color: rgba(255,255,255,.7);
}

footer.footer a:hover {
    color: #fff;
}

footer.footer p {
    font-size: 12px;
		font-weight:300;
		line-height:160%;
		letter-spacing:0;
}
.footer-line {
	display:inline-block;
	margin:0 7px;
	font-size:7px;
	color:#999;
}
footer.footer .contact-details {
    margin: 75px 0;
}

footer.footer .social {
    margin: 10px auto;
		padding:0;
		display:inline-block;
}
footer.footer .social li {
   float:left;
	 margin:3px 7px;
	 list-style-type:none;
	 padding:0;
}
footer.footer .copyright p.small {
    font-size: 14px;
		letter-spacing:0px;
}
@media (max-width: 767px) {
	footer.footer p {
			font-size: 11px;
	}
}
@media(min-width:1025px) {
    footer.footer {
        background-attachment: fixed;
    }
}

.btn-outline-light {
    border: 1px solid #fff;
    color: #fff;
    background: 0 0;
    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    transition: all .5s;
}

.btn-outline-light:hover,
.btn-outline-light:focus {
    outline: 0;
    color: #ef4035;
    background: #fff;
}

.btn-outline-dark {
    border: 1px solid #222;
    color: #222;
    background: 0 0;
    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    transition: all .5s;
}

.btn-outline-dark:hover,
.btn-outline-dark:focus {
    border-color: #ef4035;
    outline: 0;
    color: #fff;
    background: #ef4035;
}

.btn {
    padding: 12px 18px;
    border-radius: 8px;
    text-transform: uppercase;
    font-weight: 900;
    letter-spacing: 1px;
}

.btn:focus,
.btn:active,
.btn.active {
    outline: 0;
}

.btn-full-width {
    padding: 50px 0;
    border: 0;
    border-radius: 0;
    text-transform: none;
    font-size: 26px;
    font-weight: 200;
    letter-spacing: normal;
    color: #fff;
    background-color: #222;
}

.btn-full-width:hover {
    color: #fff;
    background-color: #ef4035;
}

.btn-full-width:focus {
    color: #fff;
}

strong.normal {
	font-weight:400;
}
.circle-m {
	width:100px;
	height:100px;
	text-align:center;
	background-color:transparent;
	border:3px solid #f8a48e;
	padding:0;
	display:inline-block;
	margin:0 auto;
	border-radius:50%;
}
.circle-m img {
	margin-top:13px;
}
.circle-s {
	width:84px;
	height:84px;
	text-align:center;
	background-color:#e96947;
	padding:0;
	display:inline-block;
	margin:0 auto;
	border-radius:50%;
	opacity: 1 !important;
}
.circle-s img {
	margin-top:10px !important;
}
@media (max-width: 767px) {
	.circle-m {
		width:74px;
		height:74px;
	}
	.circle-m img {
		width:50px;
		margin-top:7px !important;
	}
	.about-content h3 {
			font-weight:400;
			font-size:13px;
			line-height:17px;
	}
	.content-row .col-xs-4 {
		padding:0;
	}
}
.img-responsive {
	margin:0 auto;
}
.subtitle {
	font-size:27px;
	line-height:27px;
	font-weight:700;
	border-radius:50px;
	padding:15px 50px;
	background-color:#af0061;
	color:#fff;
	display:inline-block;
	margin-top:50px;
	margin-bottom:30px;
}
.grey {
	color:#777;
}
h6 {
	font-size:17px;
	font-weight:700;
	margin-top:20px;
	line-height:23px;
}

.news a {
    color: #333;
}

.news p {
	font-size:15px;
	font-weight:400;
	color:#333;
}
.news img {
	height:264px;
}
@media (max-width: 767px) {
	.news img {
		height:auto;
	}
}
.mapwrap {
	position:relative;
	width:100%;
	overflow:hidden;
	margin-top:50px;
}
.map-left {
	width:60%;
	height:500px;
	float:left;
}
.map-right {
	width:40%;
	height:500px;
	float:right;
    background: no-repeat center center scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}
.contact-details {
	padding:50px;
	color:#fff;
}

@media (max-width: 767px) {
	section.sub-section1 {
		padding:85px 0 0 0;
		margin-bottom:0;
	}
	section.sub-section2 {
		padding:0 0 0 0;
		margin:0;
		border:1px solid #f5f5f5;
	}
	.map-left {
		width:100%;
		height:230px;
		float:none;
		padding:0;
		margin:0;
	}
	.map-right {
		width:100%;
		height:400px;
		float:none;
	}
	.contact-details {
		padding:20px;
	}
}
.search-form-group {
	text-align:left;
}
.search-form-group .input-group {
	width:390px;
	margin:15px 0;
}
.search-form-group .input-group .form-control {
  padding: 14px 15px;
  font-size: 19px;
  line-height: 20px;
	height:auto;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
	border: 1px solid #dbdde2;
	border-top-left-radius:50px !important;
	border-bottom-left-radius:50px !important;
	border-right:0;
}
.search-form-group .input-group .form-control:focus {
  border-color: #ccc;
  outline: 0;
  -webkit-box-shadow: inset 0 0px 0px rgba(0, 0, 0, .075), 0 0 0px rgba(102, 175, 233, 0);
  box-shadow: inset 0 0px 0px rgba(0, 0, 0, .075), 0 0 0px rgba(102, 175, 233, 0);
}
.search-form-group .input-group .input-group-addon {
  padding: 4px 6px;
  font-size: 14px;
  font-weight: 400;
  line-height: 1;
	height:37px !important;
  color: #555555;
  text-align: center;
  background-color: #fff;
  border: 0px solid #ccc;
	border-top: 1px solid #dbdde2;
	border-bottom: 1px solid #dbdde2;
  border-radius: 0px;
}
.search-form-group .input-group .btn-primary {
	border-top-right-radius:50px !important;
	border-bottom-right-radius:50px  !important;
	padding: 12px 20px 12px 10px;
  font-size:21px;
  line-height: 23px;
	height:50px !important;
	font-weight:300;
}
.btn-primary {
  color: #fff;
  background-color:#e96947;
  border-color: #e96947;
}
.btn-primary:hover,
.btn-primary:focus,
.btn-primary.focus,
.btn-primary:active,
.btn-primary.active,
.open > .dropdown-toggle.btn-primary {
  color: #fff !important;
  background-color: #f8a48e !important;
  border-color: #f8a48e !important;
}
.btn-primary:active,
.btn-primary.active,
.open > .dropdown-toggle.btn-primary {
  color: #fff !important;
  background-color: #f88465 !important;
  border-color: #f88465 !important;
}

h1 figure {
	vertical-align:bottom;
	display:inline-block;
	margin:0 auto;
	margin-top:-50px;
}
h1 span {
        padding-top:2px;
				display:inline-block;
				line-height:70px;
    }
.bg-form label.form-title {
  padding: 12px 0;
  font-size: 16px;
  font-weight: 400;
  line-height: 1;
  text-align: left;
	display:block;
}

.bg-form label.form-sub-title {
  font-size: 14px;
  font-weight: 400;
  line-height: 1;
  text-align: left;
  color: gray;
	display:block;
}

.bg-form label.checkbox-title{
  font-size: 13px;
  font-weight: 400;
  line-height: 1;
  text-align: left;
	display:block;
}

.bg-form label.radio-title{
  font-size: 13px;
  font-weight: 400;
  line-height: 1;
  text-align: left;
	display:block;
}

.bg-form .form-control {
  display: block;
  width: 100%;
  height: auto;
  padding: 12px 15px;
  font-size: 15px;
  line-height: 1.42857143;
  color: #555555;
	font-family: 'Noto Sans KR', 'Malgun Gothic', '���� ����', Helvetica, Arial, sans-serif !important;
  background-color: #fff;
  background-image: none;
  border: 1px solid #ccc;
  border-radius: 0px;
	margin-bottom:20px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -webkit-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
  -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
  -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
  transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
  transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
  transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
}
@media (max-width: 767px) {
	.bg-form label.form-title {
		padding: 10px 0;
		font-size: 13px;
		font-weight: 400;
	}
  .bg-form label.form-sub-title{
		font-size: 12px;
		font-weight: 400;
  }
	.bg-form .form-control {
		font-size: 13px;
	}
}
.fr {
	float:right;
	display:block;
	color:#999;
}
.form-control:focus {
  border-color: #66afe9;
  outline: 0;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(102, 175, 233, 0.6);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(102, 175, 233, 0.6);
}
.form-control::-moz-placeholder {
  color: #999;
  opacity: 1;
}
.form-control:-ms-input-placeholder {
  color: #999;
}
.form-control::-webkit-input-placeholder {
  color: #999;
}
.form-control::-ms-expand {
  background-color: transparent;
  border: 0;
}
.form-control[disabled],
.form-control[readonly],
fieldset[disabled] .form-control {
  background-color: #fff;
  opacity: 1;
}
select::-ms-expand { /* for IE 11 */
    display: none;
}
select.form-control {
	cursor: pointer;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background:#fff url(../img/svg/icon-sel-down.svg) no-repeat right 21px !important;
  height: 40px;
  line-height: 1.12857143;
}
select.form-control:focus {
  border-color: #ccc;
  outline: 0;
  -webkit-box-shadow: inset 0 0px 0px rgba(0,0,0,0), 0 0 0px rgba(102, 175, 233, 0);
          box-shadow: inset 0 0px 0px rgba(0,0,0,0), 0 0 0px rgba(102, 175, 233, 0);
}

select.form-control:disabled {
	cursor: pointer;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background:#fff url(../img/svg/icon-sel-down.svg) no-repeat right 21px !important;
  height: 40px;
  line-height: 1.12857143;
  background:#ddd url(../img/svg/icon-sel-down.svg) no-repeat right 21px !important;
}

.btn-lg,
.btn-group-lg > .btn {
  padding: 13px 30px;
  font-size: 21px;
  line-height: 1.3333333;
  border-radius: 12px;
	font-weight:500;
	letter-spacing:-1px;
}
.btn-lg + .btn-lg {
	margin-left:7px;
}
@media (max-width: 767px) {
	.btn-lg,
	.btn-group-lg > .btn {
		padding: 13px 16px;
		font-size: 16px;
		font-weight:700;
	}
}
/* NavTab */
.nav > li > a:hover,
.nav > li > a:focus {
  text-decoration: none;
 	background-color: transparent;
	border-color: transparent;;
}
.nav-tabs {
	margin-top:0;
}
.navbarwrap {
	border-bottom:1px solid #cccccc;
	height:67px;
}
.nav-tabs.nav_bar {
	margin-bottom:0;
	margin-left:0px;
	margin-right:0px;
}
.nav-tabs.nav_bar > li > a {
	font-size:17px;
	color:#333;
  position: relative;
  display: block;
  padding:23px 0px 20px 0px;
	letter-spacing:-1px;
	margin-left:0px !important;
	border-radius: 0px 0px 0 0;
	border-bottom:1px solid #cccccc;
	border-top:0px solid #cccccc;
	border:0px;
	line-height:160%;
	height:70px;
	font-weight: 300;
}
.nav-tabs.nav_bar > li > a:hover {
	border:0px;
}
.nav-tabs.nav_bar > li.active > a,
.nav-tabs.nav_bar > li.active > a:hover,
.nav-tabs.nav_bar > li.active > a:focus {
	font-weight: 700;
  color: #f3896e;
  cursor: default;
  background-color: #fff;
  border-bottom: 3px solid #f3896e;
	border-top:0px solid #cccccc;
	border-left:0;
	border-right:0;
}
.nav-tabs.nav-justified > li {
   display: table-cell;
   width: 1%;
}
@media (max-width: 767px) {
	.navbarwrap {
		height:47px !important;
		padding:0;
		margin:50px 0 0 0;
	}
	.nav-tabs.nav_bar {
		margin-bottom:0 !important;
		margin-left:0px;
		margin-right:0px;
	}
	.nav-tabs.nav_bar > li > a {
		height:47px;
		padding:11px 0px 13px 0px;
		font-size:13px;
		line-height:160%;
	}
	.nav-tabs.nav_bar > li > a:hover {
		border:0px;
	}
}
.unit-info {
	text-align:right;
	padding-right:20px;
}
.infowrap {
	padding-top:50px;
}
.info-num {
	margin:0;
	padding:0;
	border:2px solid #f8a48e;
	text-align:center;
	border-radius:27px;
	margin-bottom:20px;
}
.info-num dt {
	padding:17px 10px;
	background-color:#f8a48e;
	color:#fff;
	font-size:15px;
	font-weight:500;
	border-top-left-radius:25px;
	border-top-right-radius:25px;
	letter-spacing:-1px;
}
.info-num dd {
	padding:15px 10px;
	letter-spacing:-1px;
}
.info-num strong {
	font-size:37px;
	font-family: 'NanumSquare';
	font-weight:700;
}
@media(max-width:767px) {
	.unit-info {
		font-size:12px !important;
	}
	.infowrap {
		padding-top:0px;
	}
	.info-num {
		margin:0;
		padding:0;
		border:0px solid #f8a48e;
		border-bottom:1px solid #f8a48e;
		text-align:center;
		border-radius:0px;
		margin-bottom:10px;
	}
	.info-num dt {
		float:left;
		width: 140px;
		clear: left;
		padding-top:30px;
		font-size:12px;
    text-align: left;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
		background-color:#fff;
		color:#333;
	}

	.info-num dd {
    margin-left: 160px;
		text-align:right;
		font-size:11px;
  }
	.info-num strong {
		display:inline-block;
		font-size:27px;
		font-weight:700;
		margin-right:5px;
	}
}
.page-header {
	position:relative;
	background-color:#beb0dd;
  padding-bottom: 9px;
  margin: 0px 0 10px;
  border-bottom: 0px solid #eeeeee;
	padding:20px 30px;
	border-radius:0px;
}
.page-header.bg2 {
	background-color:#fab0ca;
}
.page-header h3 {
	font-size:30px;
	font-weight:700;
	color:#fff;
	letter-spacing:-1px;
	font-family: 'NanumSquare';
}
.page-header h3 small {
	color: rgba(255,255,255,.5);
	letter-spacing:0px;
}
.page-header img {
	position:absolute;
	right:0;
	bottom:0px;
}
@media (max-width: 767px) {
	.page-header {
		padding:13px 20px;
		margin-top:-70px;
	}
	.page-header h3 {
		font-size:19px;
		font-weight:700;
	}
	.page-header img {
		height:90px;
	}
}
/* Accordion */
.panel {
  margin-bottom: 0px;
  background-color: #fff;
  border: 1px solid transparent;
  border-radius: 0px;
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0);
          box-shadow: 0 1px 1px rgba(0, 0, 0, 0);
}
.panel-group {
  margin-bottom:0px;
}
.panel-heading {

}
.panel-heading .accordion-toggle {
	display:block;
}
.panel-heading .accordion-toggle:after {
	content: url('../img/svg/icon_arrow_down.svg');
	float: right;
}
.panel-heading .accordion-toggle.collapsed:after {
  content: url('../img/svg/icon_arrow_up.svg');
	float: right;
}
.panel-title {
  font-size:21px !important;
	font-weight:400;
	padding-top:15px;
	padding-bottom:15px;
}
.panel-title small {
	font-size:16px;
	color:#999;
	letter-spacing:0;
	display:inline-block;
	margin-left:7px;
}
.q {
	font-weight:700;
	color:#e96947;
	display:inline-block;
	padding-right:7px;
}
.panel-body {
  padding:30px;
	color:#333;
	font-size:15px;
	background-color:#fbfbfb;
}
.panel-default > .panel-heading {
  color: #333;
  background-color: #fff;
  border-color: #ddd;
  padding:0 !important;
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
	border-bottom: 1px solid #ccc;
}
.panel-title a{
  display:block;
	padding:7px 15px 15px 15px !important;
}
@media (max-width: 767px) {
	.panel-title {
		font-size:15px !important;
		padding-top:10px;
		padding-bottom:10px;
	}
	.panel-title small {
		font-size:11px;
	}
	.panel-body {
		font-size:13px;
	}
}
/* Check & Radio */
.control {
	position:relative;
	display:inline-block;
	padding-left:37px;
	cursor:pointer;
	font-weight:300;
	font-size:15px;
}
.control input{
	position:absolute;
	opacity:0;
	z-index:-1
}
.control-indicator {
	position:absolute;
	top:-4px;
	left:0;
	display:inline-block !important;
	width:30px !important;
	height:30px !important;
	line-height:14px;
	padding:0;
	color:#333;
	text-align:center;
	vertical-align:middle;
	background-color:#fff;
	border:1px solid #ccc;
	border-radius:0px;
	background-position:center center;
	background-repeat:no-repeat;-webkit-touch-callout:none;-webkit-user-select:none;-khtml-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none;
	background-image:url(../img/svg/input_checked.svg);
	margin-right:7px;
}
.control input:checked~.control-indicator{
	color:#2272df;
	background-color:#fff;
	border:1px solid #2272df;
	}
.checkbox input:checked~.control-indicator {
	background-image:url(../img/svg/input_checked_on.svg);
	border:1px solid #ed5a57;
}
.radio .control-indicator {
	border-radius:50%
}
.radio input:checked~.control-indicator {
	background-image:url(../img/svg/input_checked_on.svg);
	border:1px solid #ed5a57;
}
.underline {
	border-bottom:1px solid #909090;
}
/* Table */
.table {
	border-top:1px solid #e96947;
}
.table > thead > tr > th,
.table > tbody > tr > th,
.table > tfoot > tr > th,
.table > thead > tr > td,
.table > tbody > tr > td,
.table > tfoot > tr > td {
  border-top: 0px solid #ddd;
}
.table > thead > tr > th {
  vertical-align: bottom;
  border-bottom: 1px solid #ccc;
}
.table th,
.table td {
  vertical-align: middle !important;
  border-bottom: 1px solid #ddd;
	text-align:center;
	font-size:13px;
}
.table td {
	text-align:center;
	line-height:160%;
  padding: 10px 10px 10px 10px !important;
}
.table th {
  vertical-align: middle;
	background-color:#f7f7f7;
	border-right:1px solid #dbdbdb;
	text-align:center;
  padding: 10px 5px 10px 5px !important;
	line-height:160%;
}
#pagetop {
	position:fixed;
	right:10px;
	bottom:10px;
	z-index:9999;
}
#pagetop a {
	background-color:#333;
	display:block;
	width:56px;
	height:56px;
	padding:13px;
	opacity:0.6;
	border-radius:56px;
}
@media (max-width: 767px) {
	#pagetop {
		bottom:20px;
	}
	.control {
		font-size:13px;
	}
	.btnwrap {
		margin:5px 12px;
	}
}
#slideBox {
	width:100%;
}
#slideBox li {
	margin:5px;
}
@media (max-width: 767px) {
	#slideBox li img {
		height:45px;
	}
}
ul.checklist {
	margin:0;
	padding:0 0px;
	text-align:left;
}
ul.checklist li {
	font-size:18px;
	line-height:160%;
	background:url(../img/svg/bullet-check.svg) no-repeat 0 50%;
	padding:2px 0 3px 25px;
	line-height:120%;
	list-style-type:none;
	font-weight:400;
	letter-spacing:-1px;
	color:#333;
}
ul.checklist li span {
	display:inline-block;
	padding-bottom:2px;
	border-bottom:0px solid #333;
	font-style: italic;
}
@media (max-width: 767px) {
	ul.checklist {
		display:inline-block;
		margin:0 auto;
	}
	ul.checklist li {
		font-size:13px;
	}
}



/* Modal */
.modal-dialog {
  position: relative;
}
.modal-full {
	margin:0 -10px 0 -15px !important;
}
.modal-full .modal-dialog {
	width:100% !important;
	margin:0 0 0 0px  !important;
}
.modal-full .modal-content {
  position: relative;
	min-height:100vh;
  background-color: #fff;
  -webkit-background-clip: padding-box;
          background-clip: padding-box;
  border: 1px solid #999;
  border: 1px solid rgba(0, 0, 0, .2);
  border-radius: 0px;
  -webkit-box-shadow: 0 0px 0px rgba(0, 0, 0, 1);
          box-shadow: 0 0px 0px rgba(0, 0, 0, 1);
}
.modal-full-btm {
  position: fixed;
  top:auto;
  right: 0;
  bottom: 0;
}
.modal-full-btm .modal-content {
  position: relative;
	min-height:auto;
}
.modal-full.modal-backdrop {
  background-color: #fff;
}
.modal-full .modal-title {
  text-align:center;
	line-height: 1.12857143;
}
.modal-full .modal-header {
	border-bottom:0 solid #fff !important;
	-webkit-box-shadow: 1px 2px 2px 0px rgba(0,0,0,0.2);
	-moz-box-shadow: 1px 2px 2px 0px rgba(0,0,0,0.2);
	box-shadow: 1px 2px 2px 0px rgba(0,0,0,0.2);
	z-index:99999;
}
.modal-full .modal-body {
	height:90%;
	height:calc(100vh - 103px);
	overflow-y:auto;
	overflow-x:hidden;
	padding:0;
}
.modal-full .modal-body h3 {
	font-weight:700;
	line-height:130%;
	font-size:21px
}
.modal-full .modal-body h3 small {
	font-weight:500;
	font-size:17px;
	letter-spacing:0;
}
.modal-full-btm .modal-body {
	height:auto !important;
	overflow-y:auto;
	padding-bottom:70px;
}
.modal-padding {
	padding:10px 20px 10px 20px;
}
.modal-full .modal-footer {
  padding: 0;
  border-top: 0px solid #e5e5e5;
}
.modal-center {
  top: 10%;
}
.modal-center .modal-content {
  position: relative;
  background-color: #fff;
  -webkit-background-clip: padding-box;
          background-clip: padding-box;
  border: 1px solid #999;
  border: 1px solid rgba(0, 0, 0, 1);
  border-radius: 6px;
  outline: 0;
  -webkit-box-shadow: 0 3px 9px rgba(0, 0, 0, .5);
          box-shadow: 0 3px 9px rgba(0, 0, 0, .5);
}
.modal-center .icon {
	width:84px;
	height:84px;
	background-color:#f8a48e;
	display:inline-block;
	border-radius:50%;
	padding-top:15px;
}
.modal-backdrop.in {
  filter: alpha(opacity=70);
  opacity: .7;
}
.modal-header {
	text-align:center;
	font-size:1.5em
  border-bottom:1px solid #f8a48f;
}
.modal-title {
	color:#f8a48f;
	font-weight:700;
	font-size:1.1em;
	line-height:1.7em;
	display:inline-block;
	font-style: normal;
	letter-spacing:-1px;
}
.modal-header .close {
  margin-top: -2px;
}
.modal-xs {
	margin-left:50px;
	margin-top:45%;
	margin-right:50px;
}
.modal-xs .modal-body {
  padding: 0;
}
.modal-xs .list-group {
  margin-bottom: 0px;
}
.modal-xs .list-group-item {
  position: relative;
  display: block;
  padding: 10px 15px;
  margin-bottom: 0px;
  border: 0px solid #ddd;
	border-bottom: 1px solid #ddd;
	text-align:center;
	font-weight:500;
	font-size:1.21em;
}
.modal-xs .list-group-item:last-child {
  border-bottom: 0px solid #ddd;
}
.modal-body-greytit {
	background-color:#efefef;
	padding:10px 20px 15px 25px;
	margin-left:-15px;
	margin-right:-15px;
	margin-top:3px;
	text-align:center;
}
.modal-body-padding {
	padding:5px 20px 5px 20px !important;
}
.modal-body-padding .detailwrap {
	padding:0;
}
.modal-body-greytit .form-group {
	margin-bottom:0;
}
.modal-body-greytit h5 {
	margin:0;
}
.modal-body-greytit .next,
.modal-body-greytit .prev {
	padding:3px;
}
.modal-body-greytit .prev img {
	width:24px;
	margin-right:20px;
}
.modal-body-greytit .next img {
	width:24px;
	margin-left:20px;
}
.modal-body {
  position: relative;
	text-align:center;
  padding: 25px 15px 65px 15px;
}
.modal-footer-btm {
	padding:0;
	margin:0;
	position:fixed;
	bottom:0;
	width:100%;
	width:calc(100% - 2px);
	border-top:1px solid #ddd;
}
.btn-left {
	display:block;
	text-align:center;
	vertical-align:middle;
	font-size:1.25em;
	font-weight: 500;
	line-height:2.7em;
	padding:5px;
  border-bottom-left-radius: 6px !important;
}
.btn-right {
	display:block;
	text-align:center;
	vertical-align:middle;
	font-size:1.25em;
	font-weight: 500;
	line-height:2.7em;
	padding:5px;
	border-bottom-right-radius: 6px !important;
}
.btn-white.btn-right,
.btn-white..btn-left {
	border-top:1px solid #ddd !important;
}
.modal-full .btn-left {
  border-bottom-left-radius: 0px !important;
}
.modal-full .btn-right {
	border-bottom-right-radius: 0px !important;
}
.btn-full {
	display:block;
	text-align:center;
	vertical-align:middle;
	font-size:1.25em;
	font-weight: 500;
	line-height:2.7em;
	padding:5px;
  border-bottom-left-radius: 6px !important;
	border-bottom-right-radius: 6px !important;
}
.disabled {
    pointer-events: none;
    background-color: #eee;
    color: #555;
    opacity: 1;
}

/* add 20190620 lch full screen loading */
.loading_wrap{
    position:fixed; top:0px; left:0px; background-color:rgba(0,0,0,0.5); width:100%; height:100%; z-index:1000;
}

.loading_wrap img{
    position:absolute; margin:auto; top:0; bottom:0; left:0; right:0; width:80px; height:80px;
}

/* 모바일일 경우 좌우 마진 없애주는 css */
.mobile-wrap{
    width :auto !important;
    min-width:200%  !important;
    margin-left: -50%  !important;
}
