@font-face {
  font-family: 'NanumSquare';
  src: url("../fonts/NanumSquareR.eot");
  src: local(¡Ø), url("../fonts/NanumSquareR.eot?#iefix") format("embedded-opentype"), url("../fonts/NanumSquareR.woff") format("woff"), url("../fonts/NanumSquareR.ttf") format("ttf");
  font-weight: normal;
  font-weight: 400; }

@font-face {
  font-family: 'NanumSquare';
  src: url("../fonts/NanumSquareB.eot");
  src: local(¡Ø), url("../fonts/NanumSquareB.eot?#iefix") format("embedded-opentype"), url("../fonts/NanumSquareB.woff") format("woff"), url("../fonts/NanumSquareB.ttf") format("ttf");
  font-weight: bold;
  font-weight: 700; }

